{% include 'admin_header.html' %}
<div style="margin-bottom: 1em;background:url('/static/assets/img/inter.jpg') ; height: 300px; width: 100%; background-size: cover;" >
  </div>
  <center>
  	<form method="post">
  		<h3>Customer Details</h3>
  		<table class="table table-hover" style="width: 850px;">
  		<tr>
  			<th>Customer Name</th>
  			<th>Place</th>
  			<th>Phone</th>
  		</tr>
  		{% for i in data['view'] %}
  		<tr>
  		
  		<td>{{i['fname']}} {{i['lname']}}</td>
  		<td>{{i['place']}}</td>
  		<td>{{i['phone']}}</td>

  		<!-- {% if i['rr_status']=='Loaded' %}

			<td><a href="?action=accept&rreq_id={{i['rrequest_id']}}&dreq_id={{i['drequest_id']}}" class="btn btn-info">Delivered</a></td>

{% endif %}
  		<!-- <td><a href="?action=accept&rreq_id={{i['rrequest_id']}}">Delivered</a></td> -->
 -->
  	

  		</tr>
  		{% endfor %}
  		</table>
  	</form>
  </center>
{% include 'footer.html' %}