{% include 'public_header.html'%}
<div style="margin-bottom: 1em;background:url('/static/assets/img/inter.jpg') ; height: 300px; width: 100%; background-size: cover;" >
  </div>


<center>
<h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;"> </h5>
                     <form method="post" id="login" action="#" enctype="multipart/form-data" >
              <table class="table" style="width: 400px;color: white;background:opacity: 0.5;">
                 <h2 style="color: white">Login</h2>
                <tr width="500">
      <table class="table" style="width: 500px;color:black;" class="animate__animated animate__fadeInUp">
        <h2>Login Here</h2>
        <tr>
          <th>Username</th>
          <td><input type="text" name="uname" class="form-control" required></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><input type="password" name="pwd" class="form-control" required></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" name="submit" value="LOGIN" class="btn btn-danger"></td>
        </tr>
      </table>
    </center>
         </form>
         </center>

  {% include 'footer.html' %}